source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget MonoGame.Framework.WindowsDX

group Build
	source https://www.nuget.org/api/v2

	storage: none

    nuget Fake.Core.Target
	nuget Fake.Core.String
	nuget Fake.DotNet.MSBuild
	nuget Fake.Core.Environment
	nuget Fake.IO.FileSystem